.nav{
    background-color: orangered;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

:global(.test){
    background-color: aquamarine;
}

.nav :global(.active){
    background-color: rgb(194, 122, 166);
}